<div class="container">
  <div class="row header">
    <div class="col-md-10">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-10 toolbar">
      <div class="row">
        <div class="col-md-3">
          <button (click)="saveShape()" type="button" class="btn btn-light">
            Save
          </button>
        </div>
      </div>

      <app-rectangle *ngIf="recShapeOptions" [(shapeOptions)]="recShapeOptions"></app-rectangle>
    </div>
  </div>
</div>
