<svg
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mousemove)="onMouseMove($event)"
>
  <text
    attr.x="{{ shapeOptions?.originX }}"
    attr.y="{{ (shapeOptions?.originY || 10) - 10 }}"
    class="rectangle-perimeter"
  >
    Perimeter: {{ permimeter }}
  </text>

  <svg:rect
    attr.id="{{ shapeOptions?.name }}"
    class="draggable"
    attr.x="{{ shapeOptions?.originX }}"
    attr.y="{{ shapeOptions?.originY }}"
    attr.width="{{ shapeOptions?.width }}"
    attr.height="{{ shapeOptions?.height }}"
    attr.stroke="{{ shapeOptions?.strokeColor }}"
    attr.fill="{{ shapeOptions?.fillColor }}"
    attr.stroke-width="{{ shapeOptions?.strokeWidth }}"
  >
    <title>{{ shapeOptions?.name }}</title>
  </svg:rect>

  <svg:rect
    class="resizable"
    attr.id="{{ shapeOptions?.name }}"
    attr.x="{{ (shapeOptions?.originX || 0) + (shapeOptions?.width || 0) - 5 }}"
    attr.y="{{ (shapeOptions?.originY || 0) + (shapeOptions?.height || 0) - 5 }}"
    width="10"
    height="10"
    stroke="black"
    fill="black"
    attr.stroke-width="{{ shapeOptions?.strokeWidth }}"
  >
    <title>{{ shapeOptions?.name }}</title>
  </svg:rect>
</svg>
