/* You can add global styles to this file, and also import other style files */

svg {
  background: #f1ffc8;
  width: 100%;
  height: 960px;
}

.header {
  background-color: #e3fd94;
}

.draggable {
  cursor: move;
}
